@import "bootstrap-sprockets";
@import "bootstrap";

.footer {
  background-image: url(asset-path('footer.jpg'));
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  color: white;
}

.home1 {
  height: calc(100vh);
}

.home-top{
  height: 100vh;
  background: url(asset-path('background1.jpg')) no-repeat center center;
  background-size: cover ;
  margin-top: -150px;
}


.navbar {
  margin: 5px 5px 0 5px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  //box-shadow: inset 1px 2px rgba(185, 185, 185, 0.43);
  animation: bounceInDown 1.5s;
  border-radius: 20px;
  //z-index: 1000;
  //color: white;
}

.navbar-default {
  border-color: transparent;
}

.view-port {
  background: deepskyblue;
  padding-top: 15vh;
  min-height: 100vh;
  background: linear-gradient(20deg, #104a72, #5dd19c 75%, #fffae8);
  animation: fadeInDown 1s;
  //animation-delay: .5s;
}

.small-text {
  font-weight: lighter;
  font-size: 0.7em;
  font-style: italic;
  float: right;
  margin-top: 5px;
}

.margin-top-5 {
  margin-top: 5px;
}

.italic {
  font-style: italic;
}

.form-control {
  margin: 5px 0;
}

.form-label {
  margin: 5px 0;
}

.btn-big {
  height: 50px;
}

.btn-upload-center {
  position: absolute;
  left:42%;
  top: 55%;
  height: 8vh;
  width: 15vw;
  font-size: 4vh;
  color: white;
  padding-top: 2vh;
  border-radius: 0px;
  background: #5de59c;
  text-transform: uppercase;
}

.text-white {
  color: white;
}

//.nav-btn {
//  display: inline-block;
//  padding: 4px 22px;
//  border-radius: 30px;
//  box-shadow: 0 1px 2px rgba(0,0,0,.1);
//  background: #fff;
//  color: #171b1f;
//  font-size: 14px;
//  font-weight: 600;
//  text-shadow: none;
//}


.img-big {
  height: 50vh;
  max-width: 44vw;
}

.home-title {
  position: absolute;
  top: 41%;
  left: 24%;
  color: white;
  font-size: 5vw;
}

.margin-top--5 {
  margin-top: -5px;
}

.margin-top--10 {
  margin-top: -10px;
}

.signupnow {
  font-size: 1.5vw;
}

.btn-upload-center:hover {
  position: absolute;
  left:42%;
  top: 55%;
  height: 8vh;
  width: 15vw;
  font-size: 1.5vw;
  color: gray;
  padding-top: 2vh;
  border-radius: 0px;
  background: white;
  text-transform: uppercase;
}

.notice {
  opacity: 0;
  padding: 10px 20px;
  width: 70vw;
  background: white;
  position: absolute;
  top: 10%;
  left: 14%;
  border-radius: 20px;
  animation: fadeInOut 5s ease 1s forwards;
}

.img-show {
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.img-title {
  color: #e1e1e1;
  font-size: 2vw;
  position: absolute;
  top: 2%;
  left: 3%;
  max-width: 50vw;
}

.img-show-btn{
  display: none;
  position: absolute;
  top: 2%;
  right: 3%;
}

.img-show:hover {
  background-color: rgba(0, 0, 0, 0.84) !important;
  .img-title {
    display: block;
    color: #b8b8b8;
  }
  .img-show-btn {
    display: block;
  }
}

.img-index-item {
  height: 30vh;
  width: 100%;
  background-color: gray;
}

.img-index-item:hover {
  background-color: #292929;
  .img-title2 {
    color: white;
    font-size: 1.4vw;
    display: block;
    background: rgba(80, 80, 80, 0.62);
  }
  .img-show-btn2 {
    display: block;
  }
}

.img-title2 {
  font-size: 1.1vw;
  position: relative;
  top: 5%;
  left: 18%;
  display: none;
  margin-right: 35%;
}

.img-show-btn2 {
  display: none;
  position: relative;
  top: 75%;
  left: 18%;
}

.btn-normal {
  height: 6vh;
  width: 9vw;
  font-size: 2.2vh;
  color: white;
  border-radius: 0px;
  background: #5de59c;
  padding-top: 1.5vh;
  text-transform: uppercase;
}


.btn-normal:hover {
  height: 6vh;
  width: 9vw;
  font-size: 2.2vh;
  color: white;
  border-radius: 0px;
  background: #23c06e;
  text-transform: uppercase;
}

.newfeed-email{
  color: #22a2e0;
}

