<div class="col-sm-4 col-sm-offset-4">
  <div class="panel panel-primary">
    <div class="panel-body">
        <h1>Editing Image</h1>

        <%= render 'form', image: @image %>

        <%= link_to 'Show', @image %> |
        <%= link_to 'Back', images_path %>
    </div>
  </div>
</div>
